// - Template
// - Modal
// - Show: "Insert Card"
// - Wait for IO Event Card
// - Show: "Writing Card"
// - Wait for IO Event Card Complete
// - Show: "all good" + Save Button
// - Button Cancel (sends cancel to IO)